@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family:IRNsanse ;

  margin: 0;
}
@font-face{
  font-family:'IRNsanse';
  src:url('./../../public/font/IRANSansXV.woff') format('woff'),
  url('./../../public/font/IRANSansXV.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
